@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-icon-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

@layer utilities {
  .custom-spacing {
    @apply 2xl:px-36 xl:px-28 xs:px-10;
  }
}
